.layout-body {
    height: 578px;
    padding: 1rem;
    padding-top: 5px;
    overflow: auto;
}

.isDisplay-body {
    height: 520px;
    font-size: 2.4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout-font {
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
    padding-bottom: 5px;
    position: relative;
}

.font-size-name {
    font-size: 3.3rem;
    font-family: 'Gaegu', cursive;
}

.font-size-detail {
    font-size: 1.5rem;
}

.cardBox {
    padding: 3px;
    box-sizing: content-box;
    width: 100%;
    box-shadow: 3px 4px 8px #d5d6dc;
    margin-bottom: 1rem;
}

.layout-footer-background {
    text-align: center;
    padding: 1.8rem;
    background-color: #ec5656;
}

.layout-footer {
    position: absolute;
    bottom: 1%;
    left: 45%;
}

.layout-btnAdd {
    display: flex;
    text-align: center;
    position: relative;
}

.buttonRemovePokemon {
    font-family: 'Atma', cursive;
    color: #dc7777;
    font-size: 2.5rem;
    background-color: #d5d6dc;
    border: 0;
    cursor: pointer;
    padding: 0;
}

.buttonAddPokemon {
    font-family: 'Atma', cursive;
    border: 0;
    padding: 0;
    width: 100px;
    height: 100px;
    background-color: #ec5656;
    border-radius: 50%;
    font-size: 65px;
    color: #ffffff;
    cursor: pointer;
}

